.reveal h2 {
    margin-bottom: 45px;
}

.reveal p {
    margin-bottom: 25px;
}

.reveal .small {
    font-size: 75%;
}

.reveal img.logo {
    border: none;
    box-shadow: none;
}

.reveal [class^="icon-"],
.reveal [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style:normal;
}

.reveal .col2 {
    float: left;
    width: 46%;
    margin: 0 2%;
}

.reveal .mock-div {
    background: rgba(0,64,128,0.15);
    min-height: 20px;
    padding: 8px 20px;
    margin: 0 0 5px;
    border-radius: 5px;
    font-size: 22px;
    text-align: left;
}

.reveal .mock-div p {
    margin-bottom: 10px;
}

.reveal .mock-div.svg {
    padding: 0;
}

.reveal .legend-server {
    color: rgba(0,64,128,1);
}
.reveal .legend-client {
    color: rgba(255,64,0,1);
}

.reveal .mock-div.client-side {
    background: rgba(255,64,0,0.55);
    color: white;
}
